body {

    background: url(img/bunga.jpg);
    background-size:100%;
    background-repeat:no-repeat;
    font-family: 'Open Sans', sans-serif;

  }
  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
    /* Add animation to "page content" */
    .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;

    animation-duration: 1s

    }

    @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
    }

    @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
    }

    #myDiv {
    display: none;
    }

  .login {
    width: 400px;
    margin: 130px auto;
    font-size: 16px;
  }

  .login-header,
  .login p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .login-header {
    background: #ec4360;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px 50px 0px 0px ;
  }

  .login-container {
    background: #ebebeb;
    padding: 12px;
    border-radius: 0px 0px 50px 50px;
  }

  .login p {
    padding: 12px;
  }

  .login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 10;
    font-family: inherit;
    font-size: 0.95em;
  }

  .login input[type="text"],
  .login input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
    border-radius: 20px;
  }

  /* Text fields' focus effect */
  .login input[type="text"]:focus,
  .login input[type="password"]:focus {
    border-color: #fd8da5;
    transition: 0.5s;
    overflow: hidden;
  }

  .login input[type="submit"] {
    background: transparent;
    border-color: #ec4360;
    border-width: 5px;
    color:#f57f92;
    cursor: pointer;
    width:50%;
    border-radius: 160px 60px 160px 60px;
    transition:0.5s;
    text-align: center;
    margin: 10px auto 0 auto;
    border-style: solid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .login input[type="submit"]:hover {
    background:#f3c5d3;
    width:80%;
    transition:0.5s;
    border-radius: 30px;
   color: black;
  }



  .field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }
  #check{
  width: 15px;
  float:left;
  }

  p{
    font-family: sans-serif;
  }

  #regis{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }

  /* level */
.hai{
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
    text-align: left;
    border-radius: 16px;
    width: 100%;
    height: 2%;
    border: 1px solid #dadce0;
    size: 5px;
  }